on boot
service fingerprint-inscreen-1-0 /vendor/bin/hw/vendor.mokee.biometrics.fingerprint.inscreen@1.0-service.zte_pine
    interface vendor.mokee.biometrics.fingerprint.inscreen@1.0::IFingerprintInscreen default
    class hal
    user system
    group system
    shutdown critical
